.input-container{
    display: flex;
    justify-content: space-between;
}

.input-error{
    display: flex;
    justify-content: right;
    font-size: small;
}

input{
    background-color: #c4c4c4;
    border-radius: 20px;
    padding: 6px;
}

.btn-primary{
    background-color: black;
}